version: "3.8"
services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - lab1
    volumes:
      - ./backend/serviceAccountKey.json:/app/serviceAccountKey.json:ro

  lab1:
    build:
      context: ./labs/lab1_xss
      dockerfile: Dockerfile
    container_name: lab1
    ports:
      - "5001:5000"
    # IMPORTANT: no external network access; keep it isolated (example)
    networks:
      - internal_net

networks:
  internal_net:
    driver: bridge
